<div class="aboutbackground">
    <div class="container">
        <!-- Top Heading -->
        <div class="heading-area">
            <p class="small-title">
                <span></span>ABOUT JALARAM GROUP
            </p>

            <h1>An engineering organisation built to deliver
                <span>critical infrastructure.</span> <br>

            </h1>
            <br>
            <p class="desc">
                JAI JALARAM INDUSTRIES was established in 1990. We are located in Pune. We are a consortium of
                professionals with expertise in different aspects of manufacturing.
            </p>
        </div>
        <br>
        <div class="btn-area">

            <a class="btn btn-lg btn-orange" (click)="scroll()" [routerLink]="['/Contact']" fragment="Contactus">
              EXPLORE ALL OUR CAPABILITIES
                <i class="bi bi-arrow-right"></i>
            </a>

            <!-- <a class="btn btn-lg btn-chat" (click)="downloadPDF()">
                <i class="bi bi-download"></i> Download company Profile
            </a> -->
        </div>
    </div>
</div>

<div class="whoweare" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="whyheading">
                    <p class="why-title">
                        <span></span>WHO WE ARE
                    </p>
                    <h1>JALARAM GROUP in <span>one view.</span>
                    </h1><br>
                </div>
            </div><br>

            <div class="col-md-6">

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/banner/EngneeringWork.png" class="imageinstall" alt="IN-HOUSE ENGINEERING"> <br>
                <div class="why-title"><br> IN-HOUSE ENGINEERING .PUNE HEADQUARTERS</div>
            </div>

            <div class="col-md-6">
                <br>
                <p class="para">
                    JAI JALARAM INDUSTRIES was established in 1990. We are located in Pune. We are a consortium of
                    professionals with expertise in different aspects of manufacturing.
                    <br> <br>
                    The business started back in 1990. In those early days, we started out as a silver brazing unit for
                    local industry with just two employees. Currently we employ more than 100 full-time staff and offer
                    manufacturing services for all types of carbide jobs and specialize in powder compaction tools, jigs
                    & fixtures, gauges, silver brazing, and heat treatment.
                </p>
                <br>
                <div class="install">
                    <p>"Built across industries,<br>Driven by purpose. <span class="outcome">United by
                            excellence.</span>"
                        <br> <span class="why-title">JALARAM GROUP CHARTER </span>
                    </p>
                    <br>
                    <span class="para">

                    </span>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="organisation" data-aos="fade-up">
    <div class="container">
        <div class="whyheading">
            <p class="why-title">
                <span></span>THE ORGANISATION, BY THE NUMBERS
            </p>
        </div>

        <div class="" #counterSection>
            <div class="row">
                <div class="col-6 col-md-3 countcard">
                    <div class="">
                        <div class="count">
                            {{ count1 }} +
                        </div>
                        <p class="counttext">Years in Operation</p>
                    </div>
                </div> <br>
                <div class="col-6 col-md-3 countcard">
                    <div class="">
                        <div class="count">
                            {{ count2 }} +
                        </div>
                        <p class="counttext">Engineers & Technicians</p>
                    </div>
                </div> <br>
                <div class="col-6 col-md-3 countcard">
                    <div class="">
                        <div class="count">
                            {{ count3 }} +
                        </div>
                        <p class="counttext"> Product Delivered</p>
                    </div>
                </div> <br>
                <div class="col-6 col-md-3 countcard">
                    <div class="">
                        <div class="count">
                            {{ count4 }} +
                        </div>
                        <p class="counttext"> Happy Clients</p>
                    </div>
                </div> <br>
            </div>
        </div>

    </div>
    <br><br>
    <hr>
    <!-- 
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="projectsection">
                    <div class="icons">
                        <div class="icon">
                            <i class="bi bi-file-earmark-text"></i>
                        </div>
                    </div>
                    <div class="challange">
                        <span class="companyfont">COMPANY PROFILE</span>
                        <p>Download our detailed company profile including capabilities, certifications, and
                            project portfolio.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3"> <br>
                <a class="btn btn-lg btn-chats" (click)="downloadPDF()">
                    <i class="bi bi-download"></i> Download company Profile
                </a>
            </div>
        </div>
    </div> -->

</div>

<div class="" data-aos="fade-up">
    <section class="methodology-section">
        <div class="container">
            <div class="containers">
                <!-- Top Heading -->
                <div class="methoheading-area">
                    <p class="methology-title">
                        <span></span>OUR JOURNEY
                    </p>
                    <h1>
                        <span style="color: #FFFFFF;">From local beginnings to </span>
                        <span class="h1headline">Multiple Industries.</span>
                    </h1>
                    <p class="desc">A 36-year progression from single to integrated Multiple Industries
                    </p>
                </div>

                <!-- Process Row -->
                <div class="process-row">
                    <!-- Item -->
                    <div class="process-box">
                        <div class="icon-box">
                            <span class="number">01</span>
                            <i class="bi bi-buildings"></i>
                            <!-- <i class="fa-solid fa-building"></i> -->
                        </div>

                        <small>1990</small>
                        <h3>Foundation</h3>
                        <p>Founded in Pune as a specialist HVAC contractor for commercial projects.
                        </p>
                    </div>

                    <!-- Item -->
                    <div class="process-box">
                        <div class="icon-box">
                            <span class="number">02</span>
                            <i class="bi bi-stack"></i>
                            <!-- <i class="fa-solid fa-layer-group"></i> -->
                        </div>

                        <small>2000-2010</small>
                        <h3>Capability Expansion</h3>
                        <p>
                            Expanded into full MEP scope and added cleanroom and PAC competencies.
                        </p>
                    </div>

                    <!-- Item -->
                    <div class="process-box">
                        <div class="icon-box">
                            <span class="number">03</span>
                            <i class="bi bi-graph-up-arrow"></i>
                            <!-- <i class="fa-solid fa-arrow-trend-up"></i> -->
                        </div>

                        <small>2011-2020</small>
                        <h3>Structured Growth</h3>
                        <p>
                            Built in-house design and ERP-led project management infrastructure.
                        </p>
                    </div>

                    <!-- Item -->
                    <div class="process-box">
                        <div class="icon-box">
                            <span class="number">04</span>
                            <i class="bi bi-boxes"></i>
                            <!-- <i class="fa-solid fa-cubes"></i> -->
                        </div>

                        <small>2020-2025</small>
                        <h3>Diversification</h3>
                        <p>Entered pharmaceutial, data centre and government sector engagements.
                        </p>
                    </div>

                    <!-- Item -->
                    <div class="process-box">
                        <div class="icon-box">
                            <span class="number">05</span>
                            <i class="bi bi-graph-up"></i>
                            <!-- <i class="fa-solid fa-industry"></i> -->
                        </div>

                        <small>2025-PRESENT</small>
                        <h3>Scaled Execution</h3>
                        <p>
                            Multi-project execution capability with 150+ engineers across india.
                        </p>
                    </div>
                </div>

                <br>
                <hr>
                <br>
                <div class="row">
                    <div class="col-md-8">
                        <div class="projectsection">
                            <span class="todaytext"></span>
                            <div class="todayparatext">
                                <p>Today, JALARAM GROUP operates as a fully integrated engineering organisation
                                    with in-house design, execution and maintenance capabilities.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

<div class="leadership" data-aos="fade-up">
    <div class="container">
        <div class="whyheading">
            <p class="why-title">
                <span></span>LEADERSHIP
            </p>
            <h1>
                Led by engineering & <span>execution experience.</span>
            </h1><br>
            <p class="desc">
          
            </p>
        </div>
        <br>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="card cards">
                    <div class="bg-image hover-zoom">
                        <img src="/assets/about/Mr. Nitin Bhagat.png" class="card-img-top" alt="managing director">
                    </div>
                    <div class="card-body dsectionbody">
                        <span>MANAGING DIRECTOR</span>
                        <P class="directorname">Mr. Nitin Bhagat</P>
                        <p class="texts">
                            JAI JALARAM INDUSTRIES was established in 1990. We are located in Pune. We are a consortium
                            of professionals with expertise in different aspects of manufacturing.
                        </p>
                        <br><br><br>
                        <div class="icons">
                            <div class="iconlinked">
                                <a href="https://www.linkedin.com" target="_blank"> <i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><br> <br>
            </div><br>
            <div class="col-md-4">
                <div class="card cards">
                    <div class="bg-image hover-zoom">
                        <img src="/assets/about/Mr. Mayur Bhagat_1.png" class="card-img-top" alt="director">
                    </div>
                    <div class="card-body dsectionbody">
                        <span>HEAD OF OPERATIONS</span>
                        <P class="directorname">Mr. Mayur Bhagat</P>
                        <p class="texts">
                            JAI JALARAM INDUSTRIES was established in 1990. We are located in Pune. Mayur
                            Enterprises.
                        </p>
                        <br><br><br><br>
                        <div class="icons">
                            <div class="iconlinked">
                                <a href="https://www.linkedin.com" target="_blank"> <i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><br>
            </div> <br>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<div class="certification" data-aos="fade-up">
    <div class="container">
        <div class="certificatewhyheading">
            <p class="why-title">
                <span></span>CERTIFICATIONS & ACCREDITATIONS
            </p>
            <h1>Standards that define <span>our work.</span>
            </h1>
            <p class="desc">Every certification we hold translates directly into a measurable benefit for the client
                -verifiable quality, OEM backing and regulator-ready documentation.
            </p>
        </div>
        <br>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="card">
                    <div class="whychoosecard-body">
                        <div class="whyiconsection">
                            <div class="whyicon">
                                <div class="whyicons">
                                    <i class="bi bi-shield-check"></i>
                                </div>
                            </div>
                            <div class="arrow">
                                01
                            </div>
                        </div><br>
                        <p class="titles">ISO Certification <br>
                            <span class="fullform">INTERNATIONAL ORGANIZATION FOR STANDARDIZATION</span>
                        </p>
                        <hr>
                        <span class="what">WHAT IT MEANS FOR YOUR PROJECT</span>
                        <p class="paragraph">Quality-managed processes from design through commissioning, with auditable
                            engineering documentation on every project.</p>

                        <span class="certificate" data-bs-toggle="modal" data-bs-target="#ISOModal"> <i
                                class="bi bi-download"></i> <b> VIEW CERTIFICATE
                            </b></span>
                        <!-- Modal -->
                        <div class="modal fade" id="ISOModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">ISO Certificate</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="/assets/certificate/iso.png" width="100%" alt="certificate">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <br>
            </div><br>

            <div class="col-md-5">
                <div class="card">
                    <div class="whychoosecard-body">
                        <div class="whyiconsection">
                            <div class="whyicon">
                                <div class="whyicons">
                                    <i class="bi bi-award"></i>
                                </div>
                            </div>
                            <div class="arrow">
                                02
                            </div>
                        </div><br>
                        <p class="titles">EIAC Accreditation <br>
                            <span class="fullform">EMIRATES INTERNATIONAL ACCREDITATION CENTRE</span>
                        </p>
                        <hr>
                        <span class="what">WHAT IT MEANS FOR YOUR PROJECT</span>
                        <p class="paragraph">Independently verified competency in inspection and engineering services-a
                            benchmark
                            for high-stakes infrastructure.</p>

                        <span class="certificate" data-bs-toggle="modal" data-bs-target="#EIACModal"> <i
                                class="bi bi-download"></i> <b> VIEW CERTIFICATE
                            </b></span>
                        <!-- Modal -->
                        <div class="modal fade" id="EIACModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">EIAC Accreditation</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="/assets/certificate/iso.png" width="100%" alt="certificate">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="card">
                    <div class="whychoosecard-body">
                        <div class="whyiconsection">
                            <div class="whyicon">
                                <div class="whyicons">
                                    <i class="bi bi-patch-check"></i>
                                </div>
                            </div>
                            <div class="arrow">
                                03
                            </div>
                        </div><br>
                        <p class="titles">Authorised Daikin Partner <br>
                            <span class="fullform">DAIKIN INDUSTRIES LTD.</span>
                        </p>
                        <hr>
                        <span class="what">WHAT IT MEANS FOR YOUR PROJECT</span>
                        <p class="paragraph">Direct OEM access to Daikin VRV/VRF and chiller systems, factory traing and
                            warranty-backed installations.</p>

                        <span class="certificate" data-bs-toggle="modal" data-bs-target="#AuthorisedDaikinModal"> <i
                                class="bi bi-download"></i> <b> VIEW CERTIFICATE
                            </b></span>

                        <!-- Modal -->
                        <div class="modal fade" id="AuthorisedDaikinModal" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Authorised Daikin Partner
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="/assets/certificate/iso.png" width="100%" alt="certificate">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>
            </div><br>

            <div class="col-md-5">
                <div class="card">
                    <div class="whychoosecard-body">
                        <div class="whyiconsection">
                            <div class="whyicon">
                                <div class="whyicons">
                                    <i class="bi bi-shield-plus"></i>
                                </div>
                            </div>
                            <div class="arrow">
                                04
                            </div>
                        </div><br>
                        <p class="titles">Additional Certifications <br>
                            <span class="fullform">SECTOR-SPECIFIC COMPLIANCE BODIES</span>
                        </p>
                        <hr>
                        <span class="what">WHAT IT MEANS FOR YOUR PROJECT</span>
                        <p class="paragraph">Cleanroom (ISO 14644), GMP and ASHRAE alignment maintained across regulated
                            and critical
                            envronments.</p>

                        <span class="certificate" data-bs-toggle="modal" data-bs-target="#AdditionalModal"> <i
                                class="bi bi-download"></i> <b> VIEW CERTIFICATE
                            </b></span>


                        <!-- Modal -->
                        <div class="modal fade" id="AdditionalModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog ">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Additional Certifications
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="/assets/certificate/iso.png" width="100%" alt="certificate">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>
        </div>
        <br>
    </div>
</div>

<div class="lastcontact" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="">
                <div class="getheading-area">
                    <p class="get-title">
                        <span></span>GET STARTED
                    </p>

                    <p class="h1"> <span class="plan">Built to support your </span>
                        <span class="start">next critical project.</span>
                    </p>
                    <p class="desc">Share your project scope and our engineering team will visit your site,
                        conduct a <br> detailed survey and return with a feasibility report and indicative budget.
                    </p>
                </div>
            </div><br>

            <div class="container">

                <div class="row">
                    <div class="col-md-6"><br><br>
                        <div> <i class="bi bi-shield-check"></i> <span class="assessmentcontent"> No-obligation site
                                assessment</span></div>

                        <div> <i class="bi bi-shield-check"></i> <span class="assessmentcontent"> Response within
                                working hours</span></div>

                        <div> <i class="bi bi-shield-check"></i> <span class="assessmentcontent"> Feasibility report and
                                indicative budget
                            </span></div>

                        <br><br>
                    </div><br>

                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <span class="speak">SPEAK WITH ENGINEERING</span><br>
                                <a href="tel:+918010089172" class="mobilenumbers"><i class="bi bi-telephone"></i> +91 80100 89172</a>
                                <!-- <span class="mobilenumbers"><i class="bi bi-telephone"></i> +91 9970641757</span> -->
                                <br> <span class="times">Mon-Sat 9:00 AM - 7:00 PM IST</span>
                                <br><br>
                                <p class="btn-oranges">
                                    <span class="text-start" (click)="scroll()" [routerLink]="['/Contact']"
                                        fragment="Contactus">
                                        Schedule a Consultation
                                    </span> <i class="bi bi-arrow-right enquirybtn"></i>
                                </p>
                            </div>
                        </div>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
</div>