<app-navbar></app-navbar>

<p class="btn-oranges">
  <i class="bi bi-calendar2-minus"></i> <span class="text-start" [routerLink]="['/Contact']" fragment="Contactus">
   EXPLORE ALL OUR CAPABILITIES
  </span>
</p>
<div class="menu">
  <p>
    <a href="https://wa.me/+918010089172?text=Hi Jalaram Group, I’d like to discuss a project." aria-label="Read more about"
      target="_blank">
      <span>
        <i class="fa-brands fa-whatsapp icon"></i>
      </span>

    </a>
  </p>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>